
@{
    ViewData["Title"] = "Northwind Traders";
}

@using Northwind.Core.Models
@model IList<Category>

<ul>
    @foreach (Category category in Model)
    {
        <li>@category.CategoryName - @category.Description
@*             @{ int count = 0; } *@
@*             @foreach (Product product in category.Products) *@
@*             { *@
@*                 if (count++ == 0) *@
@*                 { *@
@*                    @product.ProductName *@
@*                 } *@
@*                 else *@
@*                 { *@
@*                    @:, @product.ProductName *@
@*                 } *@
@*             } *@
        </li>
    }
</ul>